div{
    width: 300px;
    height: 200px;
    background-color: rgb(193, 181, 205);
    text-align: center;
    line-height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 1s ease;
    color: white;
    font-size: 3rem;
}
div:hover{
    background-color: blueviolet;
}