div{
    width: 300px;
    height: 200px;
    background-color: rgb(114, 110, 117);
    text-align: center;
    line-height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 1s ease;
    color: white;
    font-size: 3rem;
}
div:hover{
    transform: rotate(-40deg);
}